@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

body {
    font-family: 'Montserrat', sans-serif;
    }




/*............HEADER..............*/

#header-nav {
    background-color: #2a2929;
    border-radius: 0;
    border: 0;
    z-index: 100;
    position: relative;
    }


.navbar-header img {
   width: auto;
   height: 40px;
   margin-top: 5px;
   margin-left: 5px;
   float: left;
    }

.navbar-brand {
    position: absolute;
    top: 0;
    left: 50px;
    width: 100%;
    }

.navbar-brand h1 {
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: -7px;
    }

#nav-list {
   background: rgba(51,51,51,0.9);
   margin-top: 0;
    }

#nav-list a {
    font-size: 1.15em;
    color: #fff;
    }

#nav-list a:hover {
    background: #fff;
    color: #000;
}

ul.navbar-nav li.active a {
    color: #000 !important;
    
}

/*........responsive HEADER........*/

@media (max-width: 450px) {
  .navbar-brand h1 {
    font-size: .8em;
    top: -2px;
    left: 2px;
    }
    
  .navbar-default .navbar-toggle {
        padding: 4.8px;
        margin-top: 12px;
    }  
}

@media (min-width: 768px) {
    .navbar-brand h1 {
        left: 45px;
    }
    
    #nav-list {
        background: #2a2929;
    }
}

@media (min-width: 1024px) {
    #nav-list a {
    font-size: 1.4em;
    
    } 
    
}

/*..........JUMBOTRON..........*/

.container .jumbotron {
    box-shadow: 0 0 50px #000;
    padding: 0;
    border-radius: 0;
    position: relative;
    
 }

/*......responsive JUMBOTRON........*/

@media (min-width: 768px) {
  .container .jumbotron {
      height: 135px;
    }
}

@media (min-width: 992px) {
    .container .jumbotron {
        height: 175px;
    }
}

@media (min-width: 1200px) {
    .container .jumbotron {
        height: 212px;
    }
}

/*...............CONTACTO............*/

form {
    width: 90%;
    margin: auto;
    padding: 10px 10px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 5px;
}

h2 {
    color: #9cc24b;
    text-align: center;
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
    
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 15px;
    border:  1px solid #9d9e97;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    
}

#boton {
    background: rgba(156,194,75,0.8);
    color: #fff;
    padding: 10px;
    width: 33%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-align: center;
    font-size: 16px;
    border:  1px solid #9d9e97;
       
}

#boton:hover {
    cursor: pointer;
}

.contacto__adicional {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 15px;
    font-size: 1.2em;
    text-align: center;
}


/*....responsive CONTACTO ........*/

@media (max-width:480px) {
    form {
        width: 100%;
    }
    
}

@media (min-width:1024px) {
    form {
    width: 60%;
    }
    
}

/*..............FOOTER..............*/

.copy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #5e5f56;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}


/*......responsive FOOTER............*/

@media (min-width: 1024px) {
    .copy {
        font-size: 15px;
    }
    
}